.code-languages-container {
  color: var(--main-white);
  font-family: sans-serif;
  padding: 10vh 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description {
  max-width: 400px;
}

.description h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.description p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.languages-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  gap: 0px 120px;
  margin-top: 20px;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--logo-color);
}

.language-icon {
  font-weight: bold;
  font-size: 1.2rem;
}

.language-name {
  font-size: 1rem;
}

.language-item img {
  height: 3rem;
}

@media (max-width: 768px) {
  .languages-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 0px 2rem;
    margin-top: 20px;
  }
}