.editor-main-div{
    position: relative;
    height: 89vh;
    width: 100vw;
}
.aside-bar{
    width: 5vw;
}
.editor-main-div{
    display: flex;
    padding-Top:'10px';
    background-Color:'#1E1E1E'
}

.aside-bar btn{
    background-color: transparent;
}

.code-editor{
    height:90vh;
    width:95vw;
}