.editor-main-div{
    position: relative;
    height: 89vh;
    width: 100vw;
}
.remote-cursor {
    position: absolute;
    background-color: red;
    width: 2px;
}

.remote-selection {
    background-color: rgba(255, 0, 0, 0.3);
}
.remote-selection {
  background-color: rgba(255, 0, 0, 0.3); /* Light red highlight */
  border-radius: 2px;
}