body {
  overflow-x: hidden;
}

.custom-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vh 10vw;
  padding-left: 10vw;
  background-color: #000;
  color: #d4f7c5;
  gap: 3rem;
  max-width: 100%;
  overflow-x: hidden;
}

.custom-hero-left {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.custom-hero-left h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.custom-highlight {
  color: var(--logo-color);
  font-weight: bold;
}

.custom-hero-left p {
  font-size: 1rem;
  color: var(--main-white);
  margin-bottom: 1.5rem;
}

.custom-hero-button {
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  color: var(--main-white);
  border: 1px solid var(--logo-color);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-hero-button:hover {
  color: black;
  background-color: var(--logo-color);
}

.custom-hero-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.custom-video-stack {
  width: 700px;
  height: 550px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-left: -20vw;
}

.custom-hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}


@media(max-width:768px){
  .custom-hero-left {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}
}