.aside-bar{
    position: absolute;
    bottom: 5vh;
    width: 10vw;
    left: 45vw;
    border: solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.aside-bar button {
    background-color: transparent;
    border: none;
    margin-left: 12px;
    cursor: pointer;
}